# Alias by Pierre to be sourced

if [[ $(uname) == Linux ]] ; then
  alias ls="ls --color=auto"
  alias grep="grep --color=auto"
  alias fgrep="fgrep --color=auto"
  alias egrep="egrep --color=auto"
  alias bat="batcat" # bat is better than batcat
else
  alias ls="ls -G"
  alias grep="grep -G"
  alias fgrep="fgrep -G"
  alias egrep="egrep -G"
fi

# Vim
alias vi='vim'

# Git
alias g='git'
alias gaa='git add --all'
alias gb='git branch'
alias gcb='git checkout -b'
alias gcmsg='git commit -m'

alias gd='git diff'

alias glog='git log --oneline --decorate --graph'
alias gloga='git log --oneline --decorate --graph --all'
alias gm='git merge'
alias gma='git merge --abort'

alias gsh='git show'
alias gst='git status'
alias gsw='git switch'

# Confirm before overwriting somthing
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

# Others
alias cdrepo='cd ~/Documents/Code/Repos'
alias zs='zed $ZDOTDIR/.zshrc'
alias zr='source $ZDOTDIR/.zshrc'
alias ytdl="yt-dlp -f 'bv*+ba'"
